{% extends 'base.html' %}
{% block title %}Čo je dátová analýza?{% endblock %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'core/images/bg_4.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ic-animate mb-5 text-center">
        <p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url 'index-view' %}">Domov <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="{% url 'blog' %}">Blog <i class="fa fa-chevron-right"></i></a></span> <span>Čo je dátová analýza? <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Čo je dátová analýza?</h1>
      </div>
    </div>
  </div>
</section>
<section class="ic-section ic-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ic-animate">
        <p>
          <img src="{% static 'core/images/intro-data-analysis-1.jpg' %}" alt="" class="img-fluid">
        </p>
        <p>Oblasť dátovej analýzy sa stala kľúčovou pre každú spoločnosť, ktorá sa snaží rozšíriť
          svoju činnosť - od spoločností s.r.o. až po globálne spoločnosti. Firmy zhromažďujú
          každoročne viac informácií o svojich zákazníkoch a je potrebné vykonať dôkladnú analýzu,
          aby sa všetky tieto údaje stali použiteľnými štatistikami.
        </p>
        <p>Aby bola táto kariérna cesta ešte lákavejšia, tí, ktorí sa naučia premieňať
          nespracované údaje na firemnú stratégiu, môžu očakávať vysoké ohodnotenie. Analytici majú
          jednu z najžiadanejších pracovných pozícií v oblasti technológií, pretože ťažia zo
          stabilného trhu práce, ktorý je plný vzdialených pracovných príležitostí.
        </p>
        <p>Ak však skúmate svoje kariérne možnosti a na technologickej scéne ste úplne nový,
          tak to pravdepodobne všetky vaše otázky nezodpovie. Čo je to dátová analýza a prečo sa
          stala tak dôležitou pre rast firmy? Tu sú pojmy, ktoré potrebujete vedieť, čím získate
          celkový prehľad o tom, ako táto oblasť mení náš svet.
        </p>
        <h2 class="mb-3 mt-5">Čo je dátová analýza a prečo je dôležitá</h2>
        <p>Analýza dát je prax zhromažďovania a organizovania informácií, hľadania vzorov a
          vizualizácie týchto zistení jasným a stráviteľným spôsobom. Neznie to práve očarujúco.
        </p>
        <p>Ale táto sada zručností má praktické uplatnenie v každom priemysle. Väčšina veľkých
          a malých organizácií teraz uprednostňuje „rozhodnutia založené na údajoch:“ usilujú sa
          skôr o vykonávanie zmien na základe logických predpovedí a historických dôkazov, ako na
          základe impulzu. Potrebujú na to skúsených analytikov.
        </p>
        <p>Keď podnik hľadá spôsoby, ako vylepšiť svoj produkt, zaviesť novú službu alebo nalákať
          zákazníkov do inej demografickej skupiny, najskôr zhromaždí čo najviac informácií o
          svojich klientoch, využívaní produktov a konkurencii. Vzory, ktoré sa objavia v týchto
          dátových setoch, vyškolenému oku rozprávajú príbeh o tom, ako by mala spoločnosť
          postupovať.
        </p>
        <p>A tento príbeh môže viesť k obrovským ziskom.</p>
        <p>Kvalifikovaní dátoví analytici sú pre rast firmy nevyhnutní a stoja za mnohými
          produktmi, aplikáciami a službami, ktoré používame každý deň.
        </p>
        <p>
          <img src="{% static 'core/images/intro-data-analysis-2.jpg' %}" alt="" class="img-fluid">
        </p>
        <h2 class="mb-3 mt-5">Aký je rozdiel medzi dátovou analýzou a dátovou vedou?</h2>
        <p>Dátová analýza a dátová veda nie sú jedno a to isté, a preto je dôležité porozumieť
          rozdielom, keď upevňujete svoje kariérne plány.
        </p>
        <h5 class="mb-3 mt-4">Čo je dátový analytik?</h5>
        <p>Dátová analýza sa týka praxe organizovania, interpretácie a vizualizácie informácií.
          Dátový analytik je niekto, kto spravuje dátové sety a získava užitočné informácie v
          obchodnom kontexte.
        </p>
        <h5 class="mb-3 mt-4">Čo je dátový vedec?</h5>
        <p>Dátová veda zahŕňa funkcie dátovej analýzy, ale posúva ich na vyššiu úroveň.
          Dátový vedci sa primárne zaoberajú vytváraním modelov a algoritmov, ktoré vykonávajú
          komplexné analýzy. Strojové učenie a hlboké učenie sú najznámejšími oblasťami tejto
          pokrokovej disciplíny. Ako dátový vedec sa dozviete, čo tieto pojmy znamenajú, ako sa
          uplatňujú v každodennom živote a ako reálne vytvárať algoritmy vedúce k umelej
          inteligencii.
        </p>
        <p>Dátovú analýzu môžeme brať ako predchodcu k štúdiu dátovej vedy, pretože predstavuje
          základ pre pokročilejšie štúdie. Mnohí sa však rozhodnú venovať sa dátovej analýze ako
          samostatnej kariére - najmä ak majú záujem o úzku spoluprácu s marketingovým, finančným,
          IT alebo obchodným sektorom.
        </p>
        <h2 class="mb-3 mt-5">Typy dátových analytikov</h2>
        <p>Ak sa rozhodnete ísť cestou dátového analytika, môžete sa špecializovať na konkrétnu
          oblasť. Aj keď sú niektoré zo základných funkcií rovnaké, svoje analytické schopnosti
          uplatníte rôznymi spôsobmi v závislosti od sektoru v ktorom sa cítite najkonfortnejšie.
        </p>
        <p><strong>Marketingoví analytici:</strong> Prieskum a analýza, ktoré majú najväčší
          prínos pre podnikanie, a poskytovanie poradenstva v oblasti cien na základe konkurencie
          a dopytu užívateľov.
        </p>
        <p><strong>Finanční analytici:</strong> Vypracuvávajú obchodné odporúčania na základe
          trhových trendov; predikujú výsledky plánovaných finančných obchodov a zmlúv.
        </p>
        <p><strong>Obchodní analytici:</strong> Vyhľadávajú efektivitu v oblasti interných obchodných operácií.</p>
        <p><strong>Výskumní analytici:</strong> Vykonávajú prieskum trhu a určujú najlepší
          spôsob, ako si má spoločnosť udržať konkurencieschopnosť.
        </p>
        <p><strong>Rizikoví analytici:</strong> Snažia sa minimalizovať finančné riziká spojené
          s veľkými obchodnými rozhodnutiami a investíciami.
        </p>
        <p>Definícia „analytik“ je niekto, kto zhromažďuje kvantitatívne údaje a používa ich na
          zlepšenie funkcií, služieb alebo produktov organizácie. A je zrejmé, že túto zručnosť je
          možné využiť v širokej škále rôznych sektorov.
        </p>
        <h2 class="mb-3 mt-5">Zručnosti dátových analytikov</h2>
        <p>Existujú tri dôležité zručnosti v oblasti dátovej analýzy, ktoré sú nevyhnutné pre
          každého, kto sa vážne zaoberá dlhodobou kariérou. Ak ste hrdí na svoje analytické
          myslenie, zdatnosť pri riešení problémov a komunikačné schopnosti, budete vynikať na
          akejkoľvek analytickej pozícii. Vďaka prirodzeným vlohám v týchto oblastiach bude oveľa
          jednoduchšie získať aj technické zručnosti, ako je programovanie a štatistika.
        </p>
        <p><strong>Analytické myslenie:</strong> Analytický prístup je nevyhnutný a zahŕňa
          oveľa viac, ako len znalosť toho, ktorú funkciu programu spustiť. Je to spôsob myslenia.
          Skvelí dátoví analytici neberú čísla v nominálnej hodnote: naďalej sa pýtajú „prečo“ a
          zaoberajú sa hlbšie výskumom, aby odhalili hlavné dôvody vzorcov, ktoré vidia.
        </p>
        <p><strong>Riešenie problémov:</strong> Analytici používajú na zhromažďovanie detailov
          rôzne nástroje ako SAS a Google Data Studio. Tieto nástroje však neprinášajú odpovede
          na obchodné výzvy. Analytik je zodpovedný za vyhľadanie najrelevantnejších informácií
          a ich použitie pri riadení obchodnej stratégie na vysokej úrovni. 
        </p>
        <p><strong>Komunikačné schopnosti:</strong> Ako dátový analytik budete musieť doručiť
          svoje zistenia vedúcim pracovníkom alebo klientom, ktorí pravdepodobne nie sú dostatočne
          oboznámení s pravdepodobnosťou a štatistickými analýzami. Svoje najdôležitejšie 
          príležitosti budete musieť zobraziť na user-friendly dashboardoch a v zrozumiteľne
          napísaných správach, aby ste sa ubezpečili, že vaša tvrdá práca má taký dopad, aký
          si zaslúži.
        </p>
        <h2 class="mb-3 mt-5">Dátová Analýza v Pythone </h2>
        <p>Aj keď sa pri každom projekte kontext každej spoločnosti a požiadavky klientov navzájom líšia, pravdou je, že takmer vždy, 
        keď hovoríme o dátovej analýze sa objavuje väčšinou rovnaký programovací jazyk: Python.</p>
        <p>V priebehu rokov sa z neho stal hlavný programovací zdroj pre vývoj nástrojov, ktoré umožňujú analýzu, úpravu a spracovanie 
        dát a nie je žiadnym prekvapením, že vo svete, kde majú veľké dáta(Big Data) stále väčšiu váhu pre spoločnosti, sa pre tých, 
        ktorí chcú vstúpiť do sveta dátovej analýzy, výučba Pythonu stáva najvyššou prioritou.</p>
        <p>Aj keď existujú ďalšie programovacie jazyky, ktoré si v tomto odvetví tiež získali svoje miesto, je nepopierateľné, 
        že argumenty jazyku Python, ktoré sa uplatňujú v odvetví dátovej analýzy, sú prevyšujúce. Jednou z hlavných výhod je 
        jednoduchá výučba tohto jazyka. Každý, kto má minimálne znalosti programovania, sa môže bez problémov naučiť ovládať princípy 
        tohto jazyka. A počas výučby postupne objavíte jeho výhody, ako je všestrannosť a reprodukovateľnosť. Nielenže vám to umožní 
        vykonávať množstvo úloh, ale časť kódu, skript napísaný v jazyku Python, je možné používať na akejkoľvek platforme.</p>
        <p>Pridajte k tomu skutočnosť, že tento programovací jazyk, ktorý dominuje sektoru veľkých dát(Big Data), má širokú vývojársku 
        komunitu, ktorá mu umožňuje veľmi rýchlo napredovať vo vývoji nových funkcionalít a skriptov. Tým že je open-source a zadarmo, 
        rovnako ako Javascript a mnoho ďalších jazykov, sú programátori povzbudzovaní k tomu, aby skúmali rôzne riešenia, pridávali 
        rôzne vylepšenia a vyvijali nové funkcie za účelom ich začlenenia do ďalších oblastí, ako je Machine Learning alebo Devops.</p>
        <h4 class="mb-3 mt-5">Python vs R</h4>
        <p>Jeden z hlavných konkurentov Pythonu, ktorý zrejme naznačoval možnú zmenu paradigmy v odvetví veľkých dát(Big Data), 
        bol programovací jazyk R, ktorý má tiež mnoho výhod, ale nedokázal celkom vyhrať boj proti svojmu hlavnému protivníkovi. 
        Jednou zo silných stránok R bola jeho vizualizácia dát, v oblasti, v ktorej Python nebol tak pokročilý. R mal širokú škálu 
        knižníc grafov, ktoré používateľom umožňovali zobrazovať dáta, ktoré boli analyzované, jasným a jednoduchým spôsobom. Vďaka 
        spoločnému úsiliu angažovaných vývojárov Pythonu bol však ich jazyk aktualizovaný tak, aby sa ponuka rozšírila o balíky a 
        knižnice ako Seaborn alebo Plotly.</p>
        <p>Ďalšou z diskusií, do ktorých boli zapojené jazyky Python a R, bola rýchlosť vykonania(execution), pretože experti tvrdili, 
        že časy boli kratšie pri použití Pythonu v porovnaní s jazykom R, ktorý sa považoval za o niečo pomalší, avšak ďalší experti
        tvrdili, že časy vykonania sú zavislé od knižníc, s ktorými pracovali, a preto by sa tento faktor mal prestať brať do úvahy.</p>
        <p>
          <img src="{% static 'core/images/intro-data-analysis-3.png' %}" alt="" class="img-fluid">
        </p>
        <h4 class="mb-3 mt-5">Ktoré knižnice Pythonu by ste sa mali naučiť?</h4>
        <p>Každý programátor, ktorý chce vstúpiť na tento trh, by mal mať jasno v tom, že nestačí sa len naučiť jazyk Python, ale 
        musíte ho aj uviesť do praxe v rámci veľkých dát(Big Data). Ako hovoria niektorí skúsení vývojári, ktorí už v tejto oblasti 
        pracujú, aj keď je užitočné osvojiť si princípy tohto jazyka, najlepším scenárom je si starostlivo vybrať zdroje, ktoré sa 
        použijú na nasmerovanie vzdelávania k dátovej analýze. Ak nevyberiete správne, môžete sa nakoniec naučiť ďalšie odvetvia, 
        ako je programovanie, vývoj webových stránok alebo deriváty ktorejkoľvek z ďalších aplikácií, ktoré tento jazyk ponúka.</p>
        <p>V oblasti dátovej analýzy najpoužívanejšie knižnice Pythonu sú:</p>
        <h5 class="mb-3 mt-5">Pandas</h5>
        <p>Nenechajte sa zmiasť názvom. Okrem zdieľania svojho mena s rozkošným zvieraťom je Pandas jednou z najuniverzálnejších a 
        najrobustnejších knižníc, a preto je veľmi obľúbenou u mnohých dátových analytikov.</p>
        <p>Táto open-source knižnica má svojrázny spôsob prevádzky, ktorý vyžaduje sériu dát (formát CSV, TSV alebo databáza SQL) a 
        vytvorí Python objekt s riadkami a stĺpcami nazývaný „dátový rámec“. Výsledkom tejto transformácie je tabuľka so štruktúrou 
        veľmi podobnou štruktúre štatistického softvéru, akým je napríklad Excel. Preto je Pandas jednou z najpoužívanejších knižníc, 
        pretože sa s ňou veľmi ľahko pracuje.</p>
        <p>
          <img src="{% static 'core/images/intro-data-analysis-4.jpg' %}" alt="" class="img-fluid">
        </p>
        <h5 class="mb-3 mt-5">Numpy</h5>
        <p>NumPy je Python balík, ktorý pochádza z výrazu „Numerical Python“. Je to zďaleka najlepšia knižnica na aplikovanie 
        vedeckých výpočtov. Stručne povedané, poskytuje výkonné dátové štruktúry, môžete implementovať viacrozmerné polia a vykonávať 
        s nimi zložitejšie výpočty.</p>
        <p>
          <img src="{% static 'core/images/intro-data-analysis-5.png' %}" alt="" class="img-fluid">
        </p>
        <h5 class="mb-3 mt-5">Matplotlib</h5>
        <p>Pokiaľ ide o vytváranie vysokokvalitnej vizualizácie pripravenej na publikovanie, balík Matplotlib je zvyčajne tou 
        správnou voľbou. Podporuje tiež široký sortiment rastrovej a vektorovej vizualizácie, napríklad PNG, EPS, PDF a SVG.</p>
        <p>Rôzne funkcie balíku Matplotlib vám pomôžu prezentovať informácie obsiahnuté vo vašich analýzach zrozumiteľnejším spôsobom. 
        Kľúčom je prispôsobiť formát zobrazenia typu publika. Prezentácia vašich zistení manažmentu nie je rovnaká ako prezentácia 
        vašim kolegom z analytického oddelenia.</p>
        <p>
          <img src="{% static 'core/images/intro-data-analysis-6.png' %}" alt="" class="img-fluid">
        </p>
        <h2 class="mb-3 mt-5">Záverečné myšlienky</h2>
        <p>Ako sme vám už povedali, nie je to len o učení sa jazyka Python, ale aj o jeho smerovaní k úlohám, ktoré vás zaujímajú. 
        Musíte mať jasno v tom, ktorej oblasti sa chcete venovať. Ak je to dátová analýza, tak ako u každého iného programovacieho 
        jazyka alebo technológie si môžete urobiť prieskum sami alebo sa môžete rozhodnúť pre školy so zameraním na informačné 
        technológie, kde budete mať nielen viac zdrojov, ale aj väčšiu podporu pre svoju výučbu a viac možností nájsť prácu na 
        trhu veľkých dát.
        </p>
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <a href="/kategoria/{{'python'|slugify}}" class="tag-cloud-link">python</a>
            <a href="/kategoria/{{'data-analysis'|slugify}}" class="tag-cloud-link">data-analysis</a>
            <a href="/kategoria/{{'data-science'|slugify}}" class="tag-cloud-link">data-science</a>
            <a href="/kategoria/{{'data-visualization'|slugify}}" class="tag-cloud-link">data-visualization</a>
          </div>
        </div>
        <div class="about-author d-flex p-4 bg-light">
          <div class="bio mr-5">
            <img src="{% static 'core/images/person_1.jpg' %}" alt="Profile Img" class="img-fluid mb-4">
          </div>
          <div class="desc">
            <h3>Ivan Čiap</h3>
            <p id="c_action">Som tvorcom a majiteľom tejto webovej stránky. Posledných niekoľko rokov sa venujem vývoju, 
            programovaniu a dátovej analýze prevažne v programovacom jazyku Python.</p>
          </div>
        </div>
        <div class="pt-5 mt-5">
          <h3 class="mb-5">Komentáre &#39;<span class="comment-count">{{ c_no_1 }}</span>&#39;</h3>
          <div class="comment-list">
            {% for comment in comments %}
            <li class="comment">
              <div class="vcard">
                <img src="{{ comment.avatar.url }}" alt="Avatar">
              </div>
              <div class="comment-body">
                <h3>{{ comment.name }}</h3>
                <div class="meta">{{ comment.created|date:"F d, Y \o H:i" }}</div>
                <p class="" >{{ comment.message }}</p>
                <div class="comment-wrapper-{{comment.pk}}">
                {% for reply in comment.order_replies.all %}
                  <div class="rply-none row">
                    <div class="vcard-r">
                      <img src="{{ comment.avatar.url }}" alt="Avatar">
                    </div>
                    <div class="rply-msg">
                      <h3>{{ reply.name }}</h3>
                      <div class="meta">{{ reply.created|date:"F d, Y \o H:i" }}</div>
                      <p>{{ reply.message }}</p>
                    </div>
                  </div>
                {% endfor %}
                </div>
                <button class="rb-id-{{comment.pk}} rply-btn btn reply-no" type="button" data-fade="{{comment.pk}}">
                &#40;<span class="reply-count-{{comment.pk}}">{{comment.replies.count}}</span>&#41; Zobraziť odpovede
                </button>
                <button class="btn reply" type="button" data-toggle="collapse" data-target="#replyBox{{comment.pk}}" aria-expanded="false" aria-controls="replyBox{{comment.pk}}">
                Odpovedať
                </button>
                <div class="collapse" id="replyBox{{comment.pk}}">
                  <div class="mt-2">
                    <form class="ui form rply-form" action="{% url 'blog:co_je_datova_analyza' %}" method="POST" data-reply="{{comment.pk}}">
                      {% csrf_token %}
                      <input type="hidden" name="replypk" value="{{comment.pk}}">
                      <input class="rply-name" type="text" style="width:25%;" name="name" placeholder="Vložte meno" required>
                      <input class="rply-message" type="text" style="width:50%;" name="message" placeholder="Napíšte komentár..." required>
                      <button type="submit" class="btn reply mt-2 save-comment">Odoslať</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </li>
            <div class="ml-md-10"> 
              {% if comments.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1#c_action">&lt;&lt;</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ comments.previous_page_number }}#c_action">&lt;</a>
              {% endif %}
              {% for num in comments.paginator.page_range %}
              {% if comments.has_other_pages %}
              {% if num == comments.number %}
              <a class="btn btn-info mb-4" href="?page={{ num }}#c_action">{{ num }}</a>
              {% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}#c_action">{{ num }}</a>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% if comments.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ comments.next_page_number }}#c_action">&gt;</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ comments.paginator.num_pages }}#c_action">&gt;&gt;</a>
              {% endif %}
            </div>
          </div>
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Napíšte komentár</h3>
            <form action="{% url 'blog:co_je_datova_analyza' %}#c_action" method="POST" class="p-5 bg-light">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Meno *</label>
                {{ c_form.name }}
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                {{ c_form.email }}
              </div>
              <div class="form-group">
                <label for="website">Website</label>
                {{ c_form.website }}
              </div>
              <div class="form-group">
                <label for="message">Správa *</label>
                {{ c_form.message }}
              </div>
              <div class="form-group">
                <input type="submit" value="Odoslať Komentár" class="btn py-3 px-4 btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 sidebar pl-lg-5 ic-animate">
        <div class="sidebar-box ic-animate">
          <div class="categories">
            <h3>Služby</h3>
            <li><a href="{% url 'sluzby' %}">Django Web/App Development <span class="fa fa-chevron-right"></span></a></li>
            <li><a href="{% url 'sluzby' %}">Flask Web/App Development <span class="fa fa-chevron-right"></span></a></li>
            <li><a href="{% url 'sluzby' %}">Python Dátová Analýza <span class="fa fa-chevron-right"></span></a></li>
            <li><a href="{% url 'sluzby' %}">Front-end Web Development <span class="fa fa-chevron-right"></span></a></li>
            <li><a href="{% url 'sluzby' %}">Web Scraping / Crawling <span class="fa fa-chevron-right"></span></a></li>
            <li><a href="{% url 'sluzby' %}">Python Basic Scripting <span class="fa fa-chevron-right"></span></a></li>
          </div>
        </div>
        <div class="sidebar-box ic-animate">
          <h3>Najnovší Blog</h3>
          <div class="block-21 mb-4 d-flex">
            <a href="{% url 'blog:co_je_datova_analyza' %}" class="blog-img mr-4" style="background-image: url({% static 'core/images/blog_1.png' %});"></a>
            <div class="text">
              <h3 class="heading"><a href="{% url 'blog:co_je_datova_analyza' %}">Čo je dátová analýza?</a></h3>
              <div class="meta">
                <div><a href="#"><span class="fa fa-calendar"></span> Dec. 07, 2020</a></div>
                <div><a href="#"><span class="fa fa-comment"></span> {{ c_no_1 }}</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a href="{% url 'blog:co_je_kniznica_numpy' %}" class="blog-img mr-4" style="background-image: url({% static 'core/images/blog_2.png' %});"></a>
            <div class="text">
              <h3 class="heading"><a href="{% url 'blog:co_je_kniznica_numpy' %}">Čo je knižnica Numpy?</a></h3>
              <div class="meta">
                <div><a href="#"><span class="fa fa-calendar"></span> Jan. 05, 2021</a></div>
                <div><a href="#"><span class="fa fa-comment"></span> {{ c_no_2 }}</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a href="{% url 'blog:co_je_kniznica_pandas' %}" class="blog-img mr-4" style="background-image: url({% static 'core/images/blog_3.png' %});"></a>
            <div class="text">
              <h3 class="heading"><a href="{% url 'blog:co_je_kniznica_pandas' %}">Čo je knižnica Pandas?</a></h3>
              <div class="meta">
                <div><a href="#"><span class="fa fa-calendar"></span> Jan. 19, 2021</a></div>
                <div><a href="#"><span class="fa fa-comment"></span> {{ c_no_3 }}</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-box ic-animate">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="/kategoria/{{'python'|slugify}}" class="tag-cloud-link">python</a>
            <a href="/kategoria/{{'data-analysis'|slugify}}" class="tag-cloud-link">data-analysis</a>
            <a href="/kategoria/{{'data-science'|slugify}}" class="tag-cloud-link">data-science</a>
            <a href="/kategoria/{{'numpy'|slugify}}" class="tag-cloud-link">numpy</a>
            <a href="/kategoria/{{'pandas'|slugify}}" class="tag-cloud-link">pandas</a>
            <a href="/kategoria/{{'data-visualization'|slugify}}" class="tag-cloud-link">data-visualization</a>
            <a href="/kategoria/{{'jupyter-notebook'|slugify}}" class="tag-cloud-link">jupyter-notebook</a>
            <a href="/kategoria/{{'flexible'|slugify}}" class="tag-cloud-link">flexible</a>
          </div>
        </div>
        <div class="sidebar-box ic-animate">
          <h3>Paragraph</h3>
          <p>Štatistik John Tukey definoval Dátovú analýzu v roku 1961 nasledovne:
            „Postupy na dátovú analýzu, techniky interpretácie výsledkov týchto postupov, spôsoby plánovania 
            zhromažďovania dát, aby bola ich analýza ľahšia, presnejšia alebo precíznejšia a všetky mechanizmy 
            a výsledky (matematickej) štatistiky, ktoré sa na dátovú analýzu vzťahujú.“
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}