{% extends 'base.html' %}
{% block title %}Zásady ochrany osobných údajov{% endblock %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2"style="background-image: url({% static 'core/images/conditions.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ic-animate mb-5 text-center">
        <p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url 'index-view' %}">Domov <i class="fa fa-chevron-right"></i></a></span> <span>Zásady ochrany osobných údajov <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Zásady ochrany osobných údajov</h1>
      </div>
    </div>
  </div>
</section>
<section class="ic-section ic-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 ic-animate">
        <h5 class="mb-3 mt-5">Zásady ochrany osobných údajov webu</h5>
        <p>Správa webu www.lorem-ipsum.sk sa zaväzuje dodržiavať zásady ochrany Vašich osobných údajov na Internete. Kladieme veľký 
          dôraz na ochranu poskytovaných údajov. Naše zásady ochrany osobných údajov sú založené na 
          <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-protection-eu_sk/" 
            target="_blank">ustanoveniach Všeobecných predpisov pre ochranu osobných údajov Európskej únie (GDPR).</a> 
          Účely, na ktoré zhromažďujeme osobné údaje, sú tieto: zlepšenie našich služieb, komunikácia s návštevníkmi tohto webu, 
          poskytovanie informácií, požadovaných užívateľom, kontaktný formulár, a tiež pre nasledujúce úkony.
        </p>
        <h5 class="mb-3 mt-5">Zhromažďovanie a používanie osobných údajov</h5>
        <p>Osobné údaje zhromažďujeme a používame iba v prípade vášho dobrovoľného súhlasu. Pokiaľ s tým budete súhlasiť, 
          povoľujete nám zhromažďovať a používať nasledujúce údaje: meno a priezvisko, e-mail. Zhromažďovanie a spracovanie 
          Vašich údajov prebieha v súlade s právnymi predpismi, platnými na území Európskej únie a štátu Slovenská republika.
        </p>
        <h5 class="mb-3 mt-5">Ukladanie, úprava a mazanie dát </h5>
        <p>Užívateľ, ktorý poskytol svoje osobné údaje webovým stránkam www.lorem-ipsum.sk, má oprávnenie naďalej je upravovať aj 
          mazať, rovnako ako odvolať svoj súhlas s ich použitím. Doba, po ktorú budú Vaše osobné údaje uložené: čas potrebný k 
          využitiu údajov pre hlavnú činnosť webu. V prípade ukončenia používania Vašich údajov je správa webu odstráni. Pre 
          prístup k Vašim osobným údajom môžete kontaktovať správu webu na adrese: info@lorem-ipsum.sk. Vaše osobné údaje môžeme 
          poskytnúť tretím stranám len s Vašim dobrovoľným súhlasom, ak však už boli prevedené, potom tieto údaje nemôžeme 
          meniť, ak sú už uvedené pri iných organizácií, ktoré s nami nesúvisia.
        </p>
        <h5 class="mb-3 mt-5">Využitie technických údajov pri návšteve webu </h5>
        <p>Keď navštívite web www.lorem-ipsum.sk, budú v databáze uložené záznamy o Vašej IP adrese, čase návštevy, nastavenia 
          prehliadača, operačného systému a ďalších technických informáciách, potrebných pre správne zobrazenie obsahu webu. 
          Podľa týchto údajov však identifikovať totožnosť návštevníka nemôžeme.
        </p>
        <h5 class="mb-3 mt-5">Poskytovanie informácií deťmi </h5>
        <p>Ak ste rodičom, alebo opatrovníkom a zistili ste, že Vaše deti nám poskytli svoje osobné údaje bez vášho súhlasu, 
          kontaktujte nás: info@lorem-ipsum.sk. Naša služba zakazuje ukladať údaje maloletých bez súhlasu rodičov alebo opatrovníkov.
        </p>
        <h5 class="mb-3 mt-5">Využívanie súborov cookies </h5>
        <p>Pre správne zobrazenie obsahu a pre uľahčenie používania stránok www.lorem-ipsum.sk využívame súbory cookies. Jedná sa o malé 
          súbory, uložené vo Vašom zariadení. Tieto súbory pomáhajú webe zapamätať si informácie o vás, napríklad v akom jazyku 
          prezeráte stránky a aké stránky ste už navštívili, čo sú informácie, ktoré budú pre Vašu ďalšiu návštevu užitočné. 
          Vďaka súborom cookies bude pre Vás prehliadanie webu oveľa pohodlnejšie. Viac si o týchto súboroch môžete prečítať 
          <a href="https://sk.wikipedia.org/wiki/HTTP_cookie" target="_blank">tu.</a> Prehliadač môžete nastaviť tak, aby 
          prijímal, alebo blokoval súbory cookie v prehliadači samostatne. Nemožnosť prijímať súbory cookie však môže obmedziť 
          výkonnosť webu.
        </p>
        <h5 class="mb-3 mt-5">Využitie osobných údajov inými službami </h5>
        <p>Táto stránka používa internetové služby tretích strán, ktoré zbierajú informácie nezávisle na nás: Google Analytics.</p>
        <p>Zhromažďované dáta môžu byť zdieľaná s ďalšími službami vo vnútri týchto organizácií a môžu byť použité pri 
          personalizácii reklám v ich vlastnej reklamnej sieti. Užívateľské dohody týchto organizácií si môžete prečítať na ich 
          webových stránkach. Tam môžete tiež odmietnuť zhromažďovanie vašich osobných údajov, napríklad tu nájdete 
          <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">blokátor služby Google Analytics.</a> 
          Osobné údaje neposkytujeme iným organizáciám a službám, ktoré nie sú uvedené v týchto zásadách ochrany osobných údajov. 
          Jedinou výnimkou je prenos informácií podľa zákonných požiadaviek štátnych orgánov, oprávnených na vykonávanie takýchto 
          úkonov.
        </p>
        <h5 class="mb-3 mt-5">Odkazy na iné stránky </h5>
        <p>Naše stránky www.lorem-ipsum.sk môžu obsahovať odkazy na iné weby, ktoré nie sú nami prevádzkované. Za ich obsah nenesieme 
          zodpovednosť. Odporúčame, aby ste si prečítali zásady ochrany osobných údajov na tých stránkach, ktoré ste navštívili, 
          ak tam sú uvedené.
        </p>
        <h5 class="mb-3 mt-5">Zmeny zásad ochrany osobných údajov </h5>
        <p>Naše stránky www.lorem-ipsum.sk môžu občas aktualizovať svoje zásady ochrany osobných údajov. Všetky zmeny oznamujeme 
          formou zverejňovania nových zásad ochrany osobných údajov na tejto stránke. Sledujeme zmeny v legislatíve, týkajúce 
          sa ochrany osobných údajov v Európskej únii a v štáte Česká republika. Ak ste nám zverili svoje osobné údaje, 
          upozorníme Vás na prípadnú zmenu zásad ochrany osobných údajov. Ak boli Vaše kontaktné údaje zadané nesprávne, potom 
          Vás kontaktovať nemôžeme. 
        </p>
        <h5 class="mb-3 mt-5">Spätná väzba, záverečné ustanovenia </h5>
        <p>Ak máte akékoľvek otázky, súvisiace so zásadami ochrany osobných údajov, kontaktujte správcu webu www.lorem-ipsum.sk, 
          cez: info@lorem-ipsum.sk, alebo využite kontaktný formulár, uvedený v príslušnej časti tejto stránky. Pokiaľ s týmito 
          zásadami ochrany osobných údajov nesúhlasíte, nemôžete naďalej využívať služby webu www.lorem-ipsum.sk. V takom prípade 
          sa musíte vzdať možnosti navštevovať naše stránky. 
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}